@model WebsiteMusic.Common.PaginatedList<WebsiteMusic.DataModel.Song>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().SongTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ArtistId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ViewCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SongUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
<partial name="_Paginated" model="@Model"></partial>