@model HotMusic.Models.SongViewModel

@{
    ViewData["Title"] = "Thông tin bài hát";
}

<h1>Thông tin bài hát</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SongId">Cập nhật</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>
