@model HotMusic.Common.PaginatedList<HotMusic.Models.CategoryDisplayViewModel>

@{
    ViewData["Title"] = "Danh sách";
}

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<form method="get" asp-action="index">
    Nhập từ khóa
    <input type="text" name="keyword" value="@ViewData["currentFilter"]" />
    <input type="submit" value="Tìm kiếm" id="btnSearch" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CategoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CountryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ModifiledBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiledBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
<partial name="_PagintedPartial" model="@Model"></partial>