@using QuanLyNhac.Common

@model PaginatedList<QuanLyNhac.Models.UserViewModel>

@{
    ViewData["Title"] = "Danh sách người dùng";
}

<h1>Quản lý danh sách người dùng</h1>

<p>
    <a asp-action="Create"><img width="20" height="20" src="~/img/addnew.png" />Thêm mới</a>
</p>
<form asp-action="index" method="post">
    <label>Nhập từ khóa</label>
    <input type="text" name="filter" value="@ViewData["filter"]" />
    <input type="submit" value="Tìm kiếm" name="btnSearch" />
</form>

@if (Model.Count < 0)
{
    <h3>Không có dữ liệu! Not found</h3>
}
else
{
    int fromRecord = (Model.PageIndex - 1) * Model.PageSize + 1;
    int toRecord = Model.PageIndex * Model.PageSize;
    if (toRecord > Model.TotalRecords)
    {
        toRecord = Model.TotalRecords;
    }

    int rowNumber = 1;

    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    <a asp-action="index"
                   asp-route-sortOrder="@ViewData["sortFullName"]"
                   asp-route-filter="@ViewData["filter"]"
                   asp-route-pageNumber="@Model.PageIndex">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
                    </a>

                </th>
                <th>
                    <a asp-action="Index"
                   asp-route-filter="@ViewData["filter"]"
                   asp-route-pageNumber="@Model.PageIndex"
                   asp-route-sortOrder="@ViewData["sortUserName"]">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
                    </a>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @string.Format("{0}{1}", rowNumber < 10 ? "0" : "", rowNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="col-action">
                        <a asp-action="Edit" asp-route-id="@item.UserId"><img width="20" height="20" src="~/img/edit - copy.ico" /></a>
                        <a asp-action="Details" asp-route-id="@item.UserId"><img width="20" height="20" src="~/img/search.png" /></a>
                        <a asp-action="Delete" asp-route-id="@item.UserId"><img width="20" height="20" src="~/img/icon-32-delete.png" /></a>
                    </td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <h6>
        Tổng số bản ghi: @Model.Count, Hiển thị từ: @fromRecord đến @toRecord
    </h6>

    <a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex-1)"
   asp-route-filter="@ViewData["filter"]"
   class="btn btn-default @prevDisabled">&lt;&lt;</a>

    <!-- Display page number-->
    for (int pageIndex = 1; pageIndex <= Model.TotalPages; pageIndex++)
    {
        if (pageIndex == Model.PageIndex)
        {
            <a class="btn btn-default">
                <span style="color:red; font-size:18px;"><b>@pageIndex</b></span>
            </a>
        }
        else
        {
            <a asp-action="Index"
   asp-route-sortOrder="@ViewData["currentSort"]"
   asp-route-pageNumber="@pageIndex"
   asp-route-filter="@ViewData["filter"]"
   class="btn btn-default">
                <span>@pageIndex</span>
            </a>
        }
    }

    <a asp-action="Index"
   asp-route-sortOrder="@ViewData["currentSort"]"
   asp-route-pageNumber="@(Model.PageIndex+1)"
   asp-route-filter="@ViewData["filter"]"
   class="btn btn-default @nextDisabled">
        &gt;&gt;
    </a>
}

