@model HotMusic.Models.AlbumViewModel

@{
    ViewData["Title"] = "Xóa Album";
}

<h1>Delete</h1>

<h3>Bạn chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AlbumId" />
        <input type="submit" value="Xóa" asp-route-id="@Model.AlbumId" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
