@model HotMusic.Models.AlbumViewModel

@{
    ViewData["Title"] = "Chi tiết Album";
}

<h1>Chi tiết Album</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryTitle)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlbumId">Sửa</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>
