@using HotMusic.Common;
@model PaginatedList<HotMusic.Models.AlbumViewModel>

@{
    ViewData["Title"] = "Danh sách Album";
}

<h1>Danh sách Album</h1>

<div class="row">
    <div class="col-3">
        <a asp-action="Create"><img width="20" height="20" src="~/img/addnew.png" />Thêm mới</a>
    </div>
    <div class="col-5">
        
    </div>
    <div class="col-4">
        <a asp-action="ExportCSV" asp-controller="Albums" asp-area="Admin" class="btn btn-info">Xuất file CSV</a>
        <button type="button" class="btn btn-success" onclick="loadForm()">Nhập File</button>

        <div id="formModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nhập dữ liệu cho album</h4>
                        <button type="button" class="close btn btn-danger" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="formContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="get" asp-action="index">
    Nhập từ khóa
    <input type="text" name="filter" value="@ViewData["currentFilter"]" />
    <input type="submit" value="Tìm kiếm" id="btnSearch" class="btn btn-primary"/>
   
</form>
@if (Model.Count < 0)
{
    <h3>Không có dữ liệu! Not found</h3>
}
else
{
    int fromRecord = (Model.PageIndex - 1) * Model.PageSize + 1;
    int toRecord = Model.PageIndex * Model.PageSize;
    if (toRecord > Model.TotalRecords)
    {
        toRecord = Model.TotalRecords;
    }

    int rowNumber = 1;

    <table class="table">
        <thead>
            <tr class="header">
                <th>STT</th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["SortTitle"]"
                       asp-route-filter="@ViewData["filter"]">
                        @Html.DisplayNameFor(model => model.First().AlbumTitle)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.First().ArtistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.First().CategoryTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.First().Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ModifiledBy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="success">
                    <td>
                        @string.Format("{0}{1}",rowNumber < 10 ? "0":"", rowNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlbumTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thumbnail)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiledBy)
                    </td>
                    <td class="col-action">
                        <a asp-action="Edit" asp-route-id="@item.AlbumId"><img width="20" height="20" src="~/img/edit - copy.ico" /></a>
                        <a asp-action="Details" asp-route-id="@item.AlbumId"><img width="20" height="20" src="~/img/search.png" /></a>
                        <a asp-action="Delete" asp-route-id="@item.AlbumId"><img width="20" height="20" src="~/img/icon-32-delete.png" /></a>
                    </td>
                </tr>

                rowNumber++;
            }
        </tbody>
    </table>

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <h6>
        Tổng số bản ghi: @Model.Count, Hiển thị từ: @fromRecord đến @toRecord
    </h6>

    <a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex-1)"
   asp-route-filter="@ViewData["filter"]"
   class="btn btn-default @prevDisabled">&lt;&lt;</a>

    <!-- Display page number-->
    for (int pageIndex = 1; pageIndex <= Model.TotalPages; pageIndex++)
    {
        if (pageIndex == Model.PageIndex)
        {
            <a class="btn btn-default">
                <span style="color:red; font-size:18px;"><b>@pageIndex</b></span>
            </a>
        }
        else
        {
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["currentSort"]"
               asp-route-pageNumber="@pageIndex"
               asp-route-filter="@ViewData["filter"]"
               class="btn btn-default">
                <span>@pageIndex</span>
            </a>
        }
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["currentSort"]"
       asp-route-pageNumber="@(Model.PageIndex+1)"
       asp-route-filter="@ViewData["filter"]"
       class="btn btn-default @nextDisabled">
        &gt;&gt;
    </a>
    <script>
    function loadForm(){
        $.ajax({
             url: '/ImportCSVForAlbum',
             type: 'GET',
             success: function(data){
                  $('#formContainer').html(data);
                  $('#formModal').modal('show');
              }
        });
    }
    </script>
}

